@using ProductSales.DTOs
@{
    ViewData["Title"] = "Details";
}

@model ProductSales.DTOs.SaleDTO

<h1>Sale Details</h1>

<h4>Sale</h4>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">Date</dt>
        <dd class="col-sm-10">@Model.Date.ToShortDateString()</dd>
        <dt class="col-sm-2">Total</dt>
        <dd class="col-sm-10">@Model.Total.ToString("C")</dd>

        <h4>Sale Details</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model.SaleDetails)
                {
                    var products = (IEnumerable<ProductDTO>)ViewBag.Products;
                    var subtotal = (detail.Quantity * detail.Price);

                    <tr>
                        <td> @detail.ProductID </td>
                        <td> @products.FirstOrDefault(p => p.ProductID == detail.ProductID)?.Name </td>
                        <td> @detail.Quantity </td>
                        <td> @detail.Price.ToString("C") </td>
                        <td> @subtotal.ToString("C") </td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>